.Reg {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.RegPage {
    background-color: white;
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.RegName {
   color: #ED5992;
   font-weight: 100;
}
.buttonContainer {
    display: flex;
    justify-content: center;
}
.button {
    margin-top: 10%;
    height: 40px;
    border: 0px;
    color: white;
    background-color: #ED5992;
    border-radius: 4px;
    font-weight: bold;
    font-size: 17px;
    transition: 0.5s;
}
.button:hover {
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}
.RegInput {
    padding: 3px;
    padding-left: 20px;
    height: 5vh;
    font-size: 17px;
    border-radius: 5px;
    border: 3px solid grey;    
}
.AuthPage {
    height: 40px;
    width: 35%;
    text-align: center;
    padding-top:1%;
    font-size: 20px;
}
.AuthPage a {
    color:#ED5992;
}
.AuthPage a:hover {
    text-decoration: underline;
}

